<!-- <div class = 'container'> -->
    <header>
        <nav class = 'navbar navbar-default'>
            <div class = 'container-fluid'>
                <div class = 'navbar-header'>
                        <a href="# " class="navbar-brand ">Boards</a>
                </div>
                <div class="navbar-form navbar-left ">
                        <div class='form-group'>
                            <input type='text'  class='form-control' placeholder="search"> <span class="glyphicon glyphicon-search pull- right"
                                aria-hidden="true"></span>
                        </div>
                    </div>
            </div>

        </nav>
    </header>
<!-- </div> -->

